pipeline/copy_dec_data_use_variables.json
{
	"name": "copy_dec_data_use_variables",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "setInputVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set outputvairable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelinename",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "pipelinerunid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Order Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Order Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Customer First Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Customer First Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Customer Last Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Customer Last Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Post Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Post Code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Region Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Region Code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Sales$",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Sales$",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "pipelinename",
									"type": "String"
								},
								"sink": {
									"name": "pipelinename",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "pipelinerunid",
									"type": "String"
								},
								"sink": {
									"name": "pipelinerunid",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_param_input",
						"type": "DatasetReference",
						"parameters": {
							"p_inputFileName": {
								"value": "@variables('pl_inputfilename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_param_output",
						"type": "DatasetReference",
						"parameters": {
							"p_OutputFileName": {
								"value": "@variables('pl_outputfilename')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "setInputVariable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_inputfilename",
					"value": {
						"value": "@concat('Sales_',\npipeline().parameters.pl_param_month,'_',\npipeline().parameters.pl_param_year,'.csv'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set outputvairable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_outputfilename",
					"value": {
						"value": "@concat('Sales_',\r\npipeline().parameters.pl_param_month,'_',pipeline().parameters.pl_param_year,'_op.csv')\r\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set input variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_inputfilename",
					"value": {
						"value": "'dec2'",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pl_param_month": {
				"type": "string"
			},
			"pl_param_year": {
				"type": "string"
			}
		},
		"variables": {
			"pl_inputfilename": {
				"type": "String"
			},
			"pl_outputfilename": {
				"type": "String"
			}
		},
		"annotations": [
			"Sales"
		],
		"lastPublishTime": "2023-07-12T04:04:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}